*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(eduford_img/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content:space-between ;
    align-items: center;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    font-family: sans-serif;
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orangered;
    display: flex;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    margin-top: 200px;
    text-align: center;
}
.text-box h1{
    margin-top: 100px;
    color: white;
    font-size: 100px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: white;
}
.hero-btn{
    font-size:x-large;
    border: 2px solid white;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.hero-btn:hover{
    background: orangered;
    transition: 0.1s;
}
h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 70px;
}
.course-cols{
    text-align: center;
    margin: 20px 30px;
}
.course-cols a img:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px black;
}
.course-cols img {
    border-radius: 15px;
}
.row{
    margin-top: 20px;
    margin-left: 200px;
    display: flex;
}
.course-cols h2{
    margin: 20px 0;
    font-family: sans-serif;
    font-size: 40px;
}
.facility{
    margin-top: 20px;
    margin-left: 400px;
    display: flex;
}

.facilities{
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}
.facilities-cols{
    margin: 20px;
}
.facilities img{
    height: 500px;
    width: 500px;
    border-radius: 10px;
    margin: 10px 20px;
    cursor: pointer;
}
.facilities img:hover{
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.51);
}
.facilities h3{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: x-large;
}
.cta{
    margin: 100px 150px;
    padding: 150px 100px;
    text-align: center;
    background-image: url(eduford_img/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.cta h1{
    margin: 30px 0;
    color: white;
}
.cta a{
    margin-top: 10px;
    text-decoration: none;
    color:white;
    border: 1px solid white;
    padding: 20px 100px;
    cursor:pointer;
    font-family: sans-serif;
    font-size:large
}
.cta a:hover{
    background: orangered;

}
.footer{
    text-align: center;
    margin-top: 60px;
    padding: 40px 20px;
}
.footer h1{
    margin-top: 20px;
    margin-bottom: 25px;
}
.icons i{
    margin: 10px 10px;
    color: orangered;
    cursor: pointer;
    padding: 25px 0;
    font-size: 40px;
}
.foot{
    margin: 20px 40px;
    font-size: 30px;
}
.about a{
    color: white;
    margin: 20px 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 25px;
    padding: 20px 25px;
}
.About {
    margin: 20px 40px;
    background-color: #064089;
    padding: 20px 40px;
}
.About1{
    padding: 20px 40px;
    display: flex;
}
.c2 p{
    margin: 20px 40px;
    font-family: sans-serif;
    font-size: 30px;
}
.c2 img{
    margin: 10px 20px;
}
.c4{
    margin-top: 70px;
    margin-left: 550px;
    display: flex;
}
.c3{
    color: lightcyan;
    font-family: sans-serif;
    font-size: 25px;
}
hr{
    margin: 10px 20px;
}